:root {
    --main-bg: #F6F5F5;
    --light-tone: #F4EEFF;
    --mid-tone: #678983;
    --dark-tone: #181D31;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}

h2 {
  font-weight: 900;
}

h6 {
  padding: 0.5rem 0;
}

p {
  padding: 0;
  margin: 0;
}

hr {
  border: 5px solid var(--mid-tone);
  border-radius: 50px;
  width:5%;
  margin:0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  background: var(--dark-tone);
}

.banner {
  background: var(--dark-tone);
  height: 100%;
}

.me-toon {
  border-radius: 1rem;
}

.skills {
  background: var(--light-tone);
}

.skill-title {
  height: 6rem;
  padding: 1rem;
  border: 2px solid var(--dark-tone);
  border-radius: 10px;
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
}

.skill-list {
  height: 6rem;
  padding: 1rem;
  border: 2px solid var(--mid-tone);
  border-radius: 10px;
  margin: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
}

.skill-icon {
  width: 2rem;
}

.projects {
  background: var(--light-tone);
}

.blogs {
  background: var(--light-tone);
}

.blog {
  width: 18rem;
  margin: auto;
}

.my-image {
  width: 100%;
}





/* media queries */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  .banner {
    text-align: center;
  }

  .skill-title {
    height: auto;
    padding: 1rem;
    margin: 1rem;
    background: var(--dark-tone);
    color: var(--light-tone);
  }

  .skill-list {
    height: auto;
    padding: 1rem;
    margin: 1rem;
  }

  .my-image {
    width: 50%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */
